<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
</head>
<body>

<header>

<div class="info-redes">



    <h1 class="logo">INVERSIÓN</h1>

    <ul class="redes-sociales">
        <li><a href="#"><img src="../../../assets/icons/facebook .png" alt="Facebook"></a></li>
        <li><a href="#"><img src="../../../assets/icons/gorjeo.png" alt="Twitter"></a></li>
        <li><a href="#"><img src="../../../assets/icons/instagram.png" alt="Instagram"></a></li>
        <li><a href="#"><img src="../../../assets/icons/tik-tok.png" alt="TikTok"></a></li>
        <li><a href="#"><img src="../../../assets/icons/youtube.png" alt="Youtube"></a></li>
      </ul>



</div>

    <nav>




    </nav>

</header>


<main>


    <!-- Seccion del Inicio de Pagina -->
<section class="home">

   <h1>HOME</h1>

   <p>Tus Mejores Inversores de Confianza</p>

</section>




  <!-- Seccion  Sobre Nosotros -->

<section class="about">

    <H1>ABOUT</H1>

</section>





<!-- Seccion Contactenos -->
<section class="contact">

    <h1>CONTACT</h1>

</section>

</main>


</body>
</html>