<!-- index.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa</title>
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header>

        <div class="info-redes">



            <i class='bx bxs-business logo'></i>

            <ul class="redes-sociales">
                <li><a href="#"><i class='bx bxl-instagram'></i></a></li>
                <li><a href="#"><i class='bx bxl-youtube bx-flip-horizontal'></i></a></li>
                <li><a href="#"><i class='bx bxl-tiktok bx-flip-horizontal'></i></a></li>
                <li><a href="#"><i class='bx bxl-github'></i></a></li>
                <li><a href="#"><i class='bx bxl-facebook-circle'></i></a></li>
            </ul>



        </div>

        <nav>

            <div class="titulo">
                
                <h1>NEW ERA</h1>

            </div>
            
            <ul>
                <li><a href=""></a>Inicio</li>
                <li><a href=""></a>Sobre Nosotros</li>
                <li><a href=""></a>Contactenos</li>
                <li><a href=""></a>Información</li>
            </ul>


           
        </nav>

    </header>


    <main>


        <!-- Seccion del Inicio de Pagina -->
        <section class="home">



            <div class="contenido-principal">

                <h1>Tus Inversores de Confianza</h1>

                <p>Tus Mejores Inversores de Confianza</p>

                <div class="botones-home">

                    <button class="button-s">Saber Más</button>
                    <button class="button-c">Contáctanos</button>

                </div>

            </div>


            <div class="img-home">

                <img src="../../../assets/img/fondo-home.jpg" alt="">

            </div>

        </section>




        <!-- Seccion  Sobre Nosotros -->

        <section class="about">
            
              <h1>ABOUT</h1>
              
        </section>





        <!-- Seccion Contactenos -->
        <section class="contact">

            <h1>CONTACT</h1>

        </section>

    </main>


</body>
</html>