/*parte conocenos*/

/* styles.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{


    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    /* background-color: #ffffff; */
    height: 140vh;
    /* overflow: hidden; */
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca el video detrás de otros contenidos */
    object-fit: cover; /* Ajusta el tamaño del video para cubrir toda la pantalla */
}

header {
    position: relative;
    color: #f8f8f8;
    padding: 1em;
    text-align: center;
    display: flex;
  
}

.header {
    margin-top: 3px; /* Espacio en la parte superior */
    margin-left: 15px; /* Espacio en la izquierda */
    margin-right: 25px; /* Espacio en la derecha */
    margin-bottom: 15px; /* Espacio en la parte inferior */
    font-size: 1.2rem;
  }

.sesion { /*si lee esto la idea es poner mas iconos, como un shearch o cosas asi pana, ahi que ir viendo */
    position: relative;
    margin-left: 1050px;
    height: 30px;
    width: 30px;
    filter: invert(100%);
}

.pointer-overlay {
    /* Posicionamos el overlay div absolutamente sobre el icono */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Hacemos que el overlay div sea transparente */
    background-color: transparent;
    /* Aplicamos el cursor pointer */
    cursor: pointer;
}

.title {
    margin-top: 20px;
    color: #ffffff;
    font-size: 3rem;
}

.text {
    margin-top: 8px;
    margin-bottom: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    height: 80%;
    justify-content: center;
}

.index{
    margin-top: 20px;
    margin-bottom: 0px;
}

.index2 {

    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}


.index2 .feature {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    position: relative;
    /* Posición relativa */
    display: flex;
    /* Display flex para que los elementos se alineen horizontalmente */
    flex-wrap: wrap;
    /* Permitir que los elementos se envuelvan */
}

#conocenos {
    padding: 3em;
    margin-right: 600px;
    background: transparent;
}

.img {
    position: absolute;
    /* Posición absoluta */
    top: 0;
    /* Arriba */
    right: 0;
    /* Derecha */
    width: 50%;
    /* Ancho del 40% */
    height: 80%;
    /* Alto del 100% */
}

.imagen {
    margin-top: 120px;
    margin-left: 50px;
}

.more {
    background-color: #333;
    /* Color de fondo */
    margin-top: 8px;
    color: #ffffff;
    /* Color de texto */
    border: none;
    /* Sin bordes */
    padding: 15px 30px;
    /* Espacio entre el texto y el borde */
    font-size: 18px;
    /* Tamaño de fuente */
    font-weight: bold;
    /* Fuente en negrita */
    cursor: pointer;
    /* Cursor en forma de mano */
    transition: all 0.3s ease-in-out;
    /* Transición suave */
    position: relative;
    /* Posición relativa */
    overflow: hidden;
    /* Ocultar contenido sobrante */
}

.more::before {
    content: "CLICK";
    /* Contenido vacío */
    position: absolute;
    /* Posición absoluta */
    top: 0;
    /* Arriba */
    left: 0;
    /* Izquierda */
    width: 100%;
    /* Ancho del 100% */
    height: 100%;
    /* Alto del 100% */
    background-color: #ABB2B9;
    /* Color de fondo */
    color: #333;
    transform: scaleX(0);
    /* Escalar en X a 0 */
    transition: transform 0.3s ease-in-out;
    /* Transición suave */
    display: flex;
    /* Agregar display flex */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    font-size: 18px;
    /* Tamaño de fuente */
    font-weight: bold;
    /* Fuente en negrita */
}

.more:hover::before {
    transform: scaleX(1);
    /* Escalar en X a 1 */
}

.more:hover {
    background-color: #333;
    /* Color de fondo al pasar el mouse */
    color: #ffffff;
    /* Color de texto al pasar el mouse */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}

main .index h1{

font-size: 100px;
    display: flex;
}

/*parte algunas de nuestras empresas */
/*... */

.projects-section {
    background-color: #f7f7f7;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px; /* Agregué este margen inferior */
}
  
.projects-section.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
  
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
  
.project {
    margin: 20px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.project img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
  
.project h3 {
    font-size: 18px;
    margin-top: 10px;
}
  
.project p {
    font-size: 14px;
    color: #666;
}
  
  /*... */