/* Definir Tipografia */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {


    scroll-behavior: smooth;
}

body {



}



:root {

    /* Definir Paleta de Colores */

    --primary--color: rgb(0, 76, 79);
    --secundary--color: rgb(4, 0, 255);
    --terciary--color:white;

}

main {


    width: 100%;
    height: 300vh;
    
}

main .home {

    width: 100%;
    height: 100vh;
    background-color: var(--secundary--color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .about {

    width: 100%;
    height: 100vh;
    background-color: var(--primary--color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .contact {

    width: 100%;
    height: 100vh;
    background-color: var(--secundary--color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Textos */

h1{

    color:var(--terciary--color) ;
    font-size: 50px;
}